
body{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
/* --- - - INVENTORY - - --- */

#inv-dropdown{
    cursor: pointer;
    user-select: none;
}
#inventory-content{
    transform: translateY(3px) scale(0.83);
    transform-origin: left top;
    background-color: antiquewhite;
    width: 320px;
    height: 790px;
    background-color: #fff1d8;
    border: 2px dashed rgb(254, 193, 191);
}
#inventory{
    position: absolute;
}

/* INVENTORY-BLOCKS */

.inv-ele{
    background: rgb(177, 118, 106);
    color: white;
    font-size: 14px;
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    width: 150px;
    height: 100px;
    user-select: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    &:hover:not(:has(.musicSpan:hover)){
        background: linear-gradient(20deg, #ed9393, #e2a57a);
    }
    &:active{
        background: linear-gradient(20deg, rgb(237, 147, 169), rgb(255, 163, 163));
    }
    & #quantity{
        align-self: end; 
        text-align: right;
        position: absolute;
        width: 100%;
        z-index: 4;
        height: 0px;
        transform: translateY(-17px);
        background-color: #ff84a7;
    }
    & pre{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}
#s-w-inv-display{
    overflow-y: auto;
    overflow-x: hidden;
    width: 318px;
    height: 515px;
    transform: translateY(21px);
    &::-webkit-scrollbar{
        background-color: hsla(10, 31%, 50%, 0.1); 
        border-radius: 22px;
        width: 10px;
    }
    &::-webkit-scrollbar-thumb{
        background: rgb(177, 118, 106);
        border-radius: 100px;
    }
    &::-webkit-scrollbar-thumb:hover{
        background: linear-gradient(20deg, rgb(237, 147, 147), rgb(226, 165, 122));
        border-radius: 100px;
    }
    &::-webkit-scrollbar-thumb:active{
        background: linear-gradient(20deg, rgb(237, 147, 169), rgb(255, 163, 163))
    }
}
#inv-display{
    position: absolute;
    background-color: rgba(169, 101, 99, 0.254);
    width: 304px;
    height: 515px;
    transform: translateY(21px);

}
.inventory-block{
    display: grid;
    width: 300px;
    gap: 4px 4px;
    margin: 0;
    grid-template-columns: repeat(2, 1fr);
}
.musicSpan{
    background-color: rgba(157, 79, 79, 0.242);
    align-self: end; 
    text-align: left; 
    position: absolute;
    display: inline-block;
    width: 150px;
    height: 27px;
    z-index: 3;
    & svg{
        transform: translate(2px, 2px) scale(0.8);
    }
    & span{
        z-index: 2;
        width: 30px;
        height: 26px;
        display: inline-block;
        position: absolute;
    }
    & span:hover ~ svg rect{
        fill: #ffffff;
    }
    & span:hover ~ svg path{
        fill: url(#main-color)
    }
    & span:active ~ svg path{
        fill: #ff84a7
    } 
}
.inv-ele:has(.musicSpan:hover), .inv-ele:has(#quantity:hover){
    background: rgb(177, 118, 106);
}

/* INV-TYPE BUTTONS */

#sell-type-grid{
    display: grid;
    width: 303px;
    grid-auto-flow: column;
    user-select: none;
    cursor: pointer;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    & span{
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 125, 99, 0.418);
        margin-bottom: 25px;
        border: 1px solid rgba(255, 60, 0, 0.233);
    }
    & span:hover{
        background: linear-gradient(20deg, rgb(255, 187, 174), rgb(255, 175, 170));
    }
    & span:active{
        background: linear-gradient(20deg, rgb(255, 206, 218), rgb(255, 210, 210));
    }
}

#auto-type-grid{
    transform: translateY(-21.5px);
    display: grid;
    width: 303px;
    margin-bottom: -22px;
    grid-auto-flow: column;
    user-select: none;
    cursor: pointer;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    & span{
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 125, 99, 0.418);
        margin-bottom: 25px;
        border: 1px solid rgba(255, 60, 0, 0.233);
    }
    & span:hover{
        background: linear-gradient(20deg, rgba(255, 206, 197, 0.69), rgba(255, 176, 170, 0));
    }
    & span:active{
        background: linear-gradient(20deg, rgb(255, 226, 206), rgb(255, 203, 183));
    }
}
/* INV-CONTENT DISPLAY */

#inv-cont-disp{
    background-color: hsl(10, 31%, 50%);
    display: inline-block;
    width: 303px;
    height: 140px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 14px;
    display: grid;
    grid-template-columns: 150.5px 150.5px;
    gap: 1px;
    position: relative;
    margin-bottom: 4px;
    transform: translateY(21px);
}
#inv-cd-title{
    height: 40px;
    width: 303px;
    transform: translateY(-43px);
    position: absolute;
    display: grid;
    grid-template-columns: 303px;
    grid-template-rows: 20px 20px;
    background-color: hsl(10, 31%, 50%);
    gap: 1px;

    & *{
        background-color: rgb(177, 118, 106);;
        height: 20px;
        display: flex;
        justify-content: center;
    }
}
#empty-text{
    position: absolute;
    display: inline;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 800;
    color: rgba(255, 255, 255, 0.7);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    opacity: 0;
}

/* INV-CONTENT DISPLAY: PRICE-INFO SET */

#icd-sell-calc1, #icd-sell-calc2{
    color: rgb(255, 193, 181);
    font-size: 11px;
    font-weight: bolder;
    margin-bottom: 7px;
}

#icd-info-div{
    text-align: center;
    background-color: rgb(177, 118, 106);
}

/* INV-CONTENT DISPLAY: BUTTONS */

#icd-btn-div{
    text-align: center;
    background-color: rgb(177, 118, 106);

    & button, & button{
        position: relative;
        top: 3px;
        margin: 6px;
        color: white;
        text-shadow: 0px 0px 8px hsl(10, 99%, 65%);
        background-color: hsl(10, 89%, 85%);
        border: none;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 48px;
        font-size: 14px;
        height: 30px;
        box-shadow: 0px 2px 0px hsl(10, 99%, 75%);
        user-select: none;
    }

    & button:hover, & button:hover{
        cursor: pointer;
        background-color: hsl(10, 89%, 80%);
        top: 5px;
        box-shadow: 0px 0px 0px;
    }
}
/* INV-SCROLL */

#scroll{
    text-align: center;
    user-select: none;
    width: 200px;
    margin-top: -10px;
    margin-bottom: -10px;
}
#page-scroll{
    display: inline-block;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px 20px;
    font-weight: 800;
    user-select: none;
    color: rgb(170, 108, 84);
}

/* INV-DROPDOWN */

#inv-dropdown{
    background: linear-gradient(0deg, rgb(255, 176, 160), rgb(237, 147, 147));
    width: 100px;
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* INV-MEDIAS */

@media (max-width: 640px){
    #inv-cont-disp{ width: 100px;}
    .inventory-block{grid-template-columns: 1fr;}
    .inv-ele, .musicSpan{width: 200px;}
    #inv-display{width: 204px;}
    #s-w-inv-display{width: 214px;}
    #inv-cont-disp{
        width: 200px !important;
        grid-template-columns: 100px 100px !important;
        transform: translateY(21px);
    }
    #inv-cd-title{
        width: 200px !important;
        grid-template-rows: 20px 20px !important;
        grid-template-columns: 200px !important;
        transform: translateY(-44px);
        height: 40px;
    }
    #inv-display, #s-w-inv-display{
        transform: translateY(20px);
    }
    #sell-type-grid{width: 200px !important;}
    #auto-type-grid{width: 200px !important;}
    #inventory-content{width: 214px; height: 780px}
}
@media (max-width: 350px){
    #inv-cont-disp{ width: 100px;}
    .inventory-block{grid-template-columns: 1fr;}
    .inv-ele, .musicSpan{width: 150px;}
    #inv-display{width: 152px;}
    #s-w-inv-display{width: 162px;}
        #inv-cont-disp{
        width: 150px !important;
        grid-template-columns: 75px 75px !important;
        transform: translateY(21px);
    }
    #inv-cd-title{
        width: 150px !important;
        grid-template-rows: 20px 20px !important;
        grid-template-columns: 150px !important;
        transform: translateY(-44px);
        height: 40px;
    }
    #inv-display, #s-w-inv-display{
        transform: translateY(20px);
    }
    #sell-type-grid{width: 150px !important;}
    #auto-type-grid{width: 150px !important; font-size: 13px;}
    #inventory-content{width: 164px; height: 780px;}
    #empty-text{transform: scale(0.8) translate(-60%, -50%);}
}

@media (max-height: 620px){
    #inv-display{height: 412px;}
    #s-w-inv-display{height: 412px;}
    #inventory-content{height: 690px;}
}
@media (max-height: 540px){
    #inv-display{height: 308px;}
    #s-w-inv-display{height: 308px;}
    #inventory-content{height: 584px;}
}
@media (max-height: 400px){
    #inv-display{height: 204px;}
    #s-w-inv-display{height: 204px;}
    #inventory-content{height: 480px;}
}
/* --- - - CENTER - - --- */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400&display=swap');

#center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#center-name{
    font-size: 2em;
}
#center-rariety{
    font-size: .8em;
}
