body{
    background: linear-gradient(0deg, rgb(59, 33, 58), rgb(42, 27, 73), rgb(27, 32, 73));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.form{
    height: 400px;
    width: 40vw;
    background: linear-gradient(10deg, rgb(240, 159, 159), rgb(61, 59, 130));
    box-shadow: 2px 2px rgb(245, 246, 210);
    border: 2px solid rgb(240, 159, 159);
    border-radius: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    user-select: none;
    display: inline-block;

    & div{
        transform: translateY(50px);
        font-weight: bold;
    }
    & input[type="submit"]{
        transform: translateY(130px);
        background-color: rgb(255, 220, 220);
        border: none;
        cursor: pointer;
        width: clamp(30px, 100px, 30vw);
        color: rgb(195, 131, 107);
        &:hover{
            background-color: beige;
        }
    }
    & input{
        outline-color: rgb(255, 197, 197);
        outline-width: 1px;
        border: none;
    }
}
#forms{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}