body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(210deg, hsl(11, 43%, 50%), hsl(320, 43%, 50%), hsl(230, 43%, 50%));
}
form{
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.337);
    backdrop-filter: saturate(200%) hue-rotate(20deg);
    width: 200px;
    height: 300px;
    border-radius: 5px;
    padding-right: 28px;
    padding-left: 20px;
    padding-top: 30px;
}
label{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input{
    border: none;
    outline: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
[type=submit]{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transform: translateX(73px);
    background: linear-gradient(180deg, white, rgb(253, 183, 255));
    color: rgb(242, 0, 255);
    font-weight: bolder;
    cursor: pointer;

    &:hover{
        background: rgba(255, 255, 255, 0.248);
        box-shadow: 0 0 0 1px white inset;
        color: rgb(255, 255, 255);
    }
}
fieldset{
    border:  2px solid rgba(255, 199, 146, 0.483);
    & *{
        position: relative;
        left: 15.01px;
    }
}
#error{
    color: beige;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-self: center;
}